{{ 'slider.css' | asset_url | stylesheet_tag }}
{{ 'plain-jane.css' | asset_url | stylesheet_tag }}
{% assign pjCnfg = section.settings %}
{% if pjCnfg.password_bg_style == 'image' %}
<div class="blaze-slider">
        <div class="blaze-container">
          <div class="blaze-track-container">
            <div class="blaze-track">
              {% if pjCnfg.bg_slide_1 %}
              <div class="slide slide-1" style="background-image: url({{ pjCnfg.bg_slide_1 | image_url}})"></div>
              {% endif %}
              {% if pjCnfg.bg_slide_2 %}
              <div class="slide slide-2" style="background-image: url({{ pjCnfg.bg_slide_2 | image_url}})"></div>
              {% endif %}
              {% if pjCnfg.bg_slide_3 %}
              <div class="slide slide-3" style="background-image: url({{ pjCnfg.bg_slide_3 | image_url}})"></div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <div class="password-bg-overlay" style="
        width: 100%;
        height: 100%;
        pointer-events: none;
        top: 0;
        background-color: {{ pjCnfg.password_bg_overlay_color | color_modify: 'alpha', pjCnfg.password_bg_overlay_opacity }}; 
        position: absolute;">
        </div>
{% elsif pjCnfg.password_bg_style == 'video' %}
  <div class="password-video-container" style="
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    ">
  <div class="password-bg-overlay" style="
    width: 100%;
    height: 100%;
    background-color: {{ pjCnfg.password_bg_overlay_color | color_modify: 'alpha', pjCnfg.password_bg_overlay_opacity }}; 
    position: absolute;
    "></div>  
      <video
      autoplay
      muted
      defaultmuted
      oncontextmenu="return false;"
      preload="auto"
      playsinline
      loop
      class="password-video"
      style="       
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: none;
      ">
      <source src="{{ pjCnfg.password_video_url }}" type="video/mp4">
      </video>
    </div>
  {% elsif pjCnfg.password_bg_style == 'color' %}
      <div
      style="       
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: none;
        background-color: {{ pjCnfg.password_bg_color }};
      ">
      </div>
  {%  endif %}

      <div class="password-modal-background animate-modal">
        <div class="password-container" style="--password-form-color: {{ pjCnfg.pass_form_bg_color | color_modify: 'alpha', pjCnfg.pass_form_opacity }};">
            <button class="password-close-btn" style="--pass-form-close-btn-color: {{ pjCnfg.pass_form_cancel_color }};"></button>
            <p class="password-text" style="color: {{ pjCnfg.pass_form_txt_color }};">{{ pjCnfg.pass_form_txt }}</p>
          <div class="password-form-container">
            {%- form "storefront_password",  class: "password-form" -%}
            <input class="password-store-input" name="password" type="password" placeholder="*****" 
              style="
              background-color: {{ pjCnfg.pass_input_form_color }};
              color: {{ pjCnfg.pass_form_input_txt_color }};
              "/>
            <input class="password-store-input-submit" type="submit" value="ENTER" 
              style="
              background-color: {{ pjCnfg.pass_form_submit_btn_color }};
              color: {{ pjCnfg.pass_form_submit_btn_txt_color }};
              "/>
            {%- endform -%}
          </div>
        </div>
      </div>

      <div end="{{ request.page_type }}" class="password-entrance no-flick" style="top: 0; background-color: {{ pjCnfg.entrance_screen_bg_color }};">
        <div class="password-entrance-box">
          {% if settings.shop_screen_logo %}
          <img style="margin-bottom: 50px; width:{{ pjCnfg.logo_size }}px;" src="{{ pjCnfg.password_logo | image_url}}"  alt="" class="logo">
          {% else %}
          <img style="margin-bottom: 50px; width: 300px;" src="{{ 'Supreme-dummy.png' | asset_url }}" alt="" class="logo">
          {% endif %}
          <a href="{{ routes.root_url }}" class="password-enter-text" style="max-width: 900px;{% if pjCnfg.enable_entrance_text_glow %} text-shadow: 0px 0px 10px {{ pjCnfg.entrance_screen_txt_color }}; {% endif %} text-decoration: none; color: {{ pjCnfg.entrance_screen_txt_color }}; text-align: center; line-height: 38px; padding: 0 10px">
           {{ pjCnfg.entrance_screen_txt }}
          </a> 
        </div>
      </div>
      <a style="position:absolute; top:0; width: 100%;" aria-current="page" class="logo-link w-inline-block w--current">
        {% if pjCnfg.show_store_logo %}
        {% if pjCnfg.logo_size %}
        <img style="width:{{ pjCnfg.logo_size }}px;" src="{{ pjCnfg.password_logo | image_url}}"  alt="" class="logo">
        {% else %}
        <img src="{{ 'Supreme-dummy.png' | asset_url }}" alt="" class="logo">
        {% endif %}
        {% endif %}
        {% if pjCnfg.show_store_ownwer_txt %}
        <p class="password-store-owner" style="
          {% if settings.disable_highlight_animation %} animation-duration: 0s; {% endif %}
          {% if pjCnfg.bold_store_ownwer_txt %}
          font-weight: bold; 
          {% endif %}
          {% if pjCnfg.enable_owner_highlight_txt %}
          --store-owner-highlight-color: {{ pjCnfg.store_owner_highlight_color }};
          --store-owner-highlight-txt-color: {{ pjCnfg.store_owner_highlight_txt_color }};
          --store-owner-txt-color: {{ pjCnfg.store_owner_txt_color }};
          {% else %}
          --store-owner-highlight-color: transparent;
          --store-owner-highlight-txt-color: {{ pjCnfg.store_owner_txt_color }};
          --store-owner-txt-color: {{ pjCnfg.store_owner_txt_color }};
          {% endif %}
          ">
          {{ pjCnfg.store_owner_txt }}
          </p>
        {% endif %}
        {% if settings.show_music %} 
          <div 
            countdown-music="{{ pjCnfg.countdown_music }}"
            style="{% if settings.show_music_mobile == false %} --no-mobile-music: none; {% else %} --no-mobile-music: flex; {% endif %}
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            margin: 0 0 0 30px;
            color: #fff;
            padding: 0;
            left: 0;
            right: auto;
            bottom: 0;
            {% if pjCnfg.show_store_logo == false %} margin-top: 30px; {% endif %}
            "
            class="music-container {% if settings.show_music_mobile == false %} disable-music {% endif %}" data-file-url="{{ settings.music_url }}" 
            music-image-url="{% if settings.music_img %}{{ settings.music_img | img_url: 'master' }}{% else %}{{ 'gradient-logo.jpg' | asset_url }}{% endif %}
          ">
                  <div id="title" class="music-info">
                      <div class="progress-container">
                          <div class="progress"></div>
                      </div>
                  </div>
          
                  <audio preload="auto" loop autoplay preload="metadata" id="audio"></audio>
          
            {% if settings.show_disk %}
                  <div class="img-container-password-page" style="
                          position: absolute;
                          top: 50%;
                          transform: translateY(-50%);
                          width: 70px;
                          height: 70px;
                    ">
                      <img alt="music-cover" id="cover" style="bottom: auto;">
                  </div>
            {% endif %}
          
            {% assign mobile-play-alignment = "" %}
            {% if settings.show_disk == false %}
            {% assign mobile-play-alignment = "play-alignment" %}
            {% endif %}
            
          
                  <div class="navigation-password-page {{ mobile-play-alignment }}" style="
                    {% if settings.show_disk == false %} left: -28px; {% endif %}
                    position: absolute; top: 50%; transform: translateY(-50%);"> 
                      <button id="play" style="color: {{ settings.music_btn_color }}" class=" action-btn action-btn-big">
                          <i class="fas fa-play"></i>
                      </button>
                  </div>
              </div>   
            {% endif %}
           </a> 
    {% assign countdownBox = "" %}
    {% capture countdownBox %}
    {% if pjCnfg.show_countdown_boxes == false %}
       background: transparent; backdrop-filter: none; {% if pjCnfg.enable_box_radius == false %} border-radius: 0; {% endif %}
    {% else %}
       background: linear-gradient(180deg, rgba(255, 255, 255, 0.16) 0.01%, rgba(255, 255, 255, 0.00) 100%), {{ pjCnfg.countdown_box_color | color_modify: 'alpha', pjCnfg.countdown_box_opacity }};
      {% if pjCnfg.enable_box_radius == false %} border-radius: 0; {% endif %}
    {% endif %}
    {% endcapture %}

    {% if pjCnfg.show_store_ownwer_txt %}
    <p class="password-store-owner-mobile " style="color: {{ pjCnfg.store_owner_txt_color_mobile }};">{{ pjCnfg.store_owner_txt }}</p>
    {% endif %}
      {% if pjCnfg.show_timer %}
    <div class="no-flick {% if pjCnfg.switch_timer_info %} countdown-timer {% else %}  countdown-timer-2  {% endif %}" 
      cMonth="{{ pjCnfg.countdown_month }}"
      cDay="{{ pjCnfg.countdown_day }}"
      cYear="{{ pjCnfg.countdown_year }}"
      cHour="{{ pjCnfg.countdown_hour }}"
      cMin="{{ pjCnfg.countdown_min }}"
      cAMmPm="{{ pjCnfg.countdown_ampm }}"
      countdownEndTime="{{ pjCnfg.countdown_end_time }}"
      >
        <div class="countdown-box animate slide-out fade-away" 
          style="{{ countdownBox }}">
            <div class="countdown-value-box">
            <p id="days" class="countdown-value {% if pjCnfg.enable_countdown_glow %}glo-up-1{% endif %}" style="--glo-color-days:{{ pjCnfg.days_value_color }}; color:{{ pjCnfg.days_value_color }};">      
            </p>
            {% if pjCnfg.show_countdown_metrics %}
            <p class="countdown-metric" style="color: {{ pjCnfg.days_color }};">
                DAYS
            </p>
            {% endif %}
        </div>
        </div>
        <div class="countdown-box animate delay-1"
          style="{{ countdownBox }}">
            <div class="countdown-value-box">
            <p id="hours" class="countdown-value {% if pjCnfg.enable_countdown_glow %}glo-up-2{% endif %}" style="color: {{ pjCnfg.hours_value_color }}; --glo-color-hours: {{ pjCnfg.hours_value_color }};">    
            </p>
            {% if pjCnfg.show_countdown_metrics %}  
            <p class="countdown-metric" style="color: {{ pjCnfg.hours_color }};">
                HOURS
            </p>
            {% endif %}
        </div>
        </div>
        <div class="countdown-box animate delay-2"
          style="{{ countdownBox }}">
            <div class="countdown-value-box">
            <p id="minutes" class="countdown-value {% if pjCnfg.enable_countdown_glow %}glo-up-3{% endif %}" style="--glo-color-minutes:{{ pjCnfg.minutes_value_color }}; color: {{ pjCnfg.minutes_value_color }};"> 
            </p>
            {% if pjCnfg.show_countdown_metrics %}
            <p class="countdown-metric" style="color: {{ pjCnfg.minutes_color }};">
                MINUTES
            </p>
            {% endif %}
        </div>
        </div>
        <div class="countdown-box animate delay-3"
          style="{{ countdownBox }}">
            <div class="countdown-value-box">
            <p id="seconds" class="countdown-value {% if pjCnfg.enable_countdown_glow %}glo-up-4{% endif %}" style="--glo-color-seconds:{{ pjCnfg.seconds_value_color }}; color: {{ pjCnfg.seconds_value_color }};">
            </p>
            {% if pjCnfg.show_countdown_metrics %}
            <p class="countdown-metric" style="color: {{ pjCnfg.seconds_color }};">
                SECONDS
            </p>
            {% endif %}
        </div>
        </div>
    </div>
    {% endif %}
    {% if pjCnfg.show_customer_info %}
    <div class="no-flick {% if pjCnfg.switch_timer_info %} password-information-container {% else %}  password-information-container-2  {% endif %}"
    style="{% if pjCnfg.show_customer_info_box == false %} background: none !important; {% endif %} 
      --password-info-container-color: {{ pjCnfg.customer_info_box_color | color_modify: 'alpha', pjCnfg.customer_info_box_opacity }};"  
    >
      <div>
        {% if pjCnfg.show_customer_info_title %}
        <p style="color: {{ pjCnfg.customer_info_store_header_txt_color }}" class="password-waitlist-text">
              {{ pjCnfg.customer_info_store_header_txt }}
            </p>
        {% endif %}

        {% if pjCnfg.show_customer_info_txt %}
        <p style="color: {{ pjCnfg.customer_info_txt_color }}" class="{% if pjCnfg.switch_timer_info %} password-customer-text {% else %}  password-customer-text-2  {% endif %}">
            {{ pjCnfg.customer_info_txt }}
        </p>
        
        {% endif %}
      </div>  
      {% if pjCnfg.show_customer_email_form %} 
        <div class="{% if pjCnfg.switch_timer_info %} password-email-form-container {% else %}  password-email-form-container-2  {% endif %}">  
            {% form 'customer', class: "password-page-countdown-form" %}
            <input style="background-color: {{ pjCnfg.customer_email_form_color }}; color: {{ pjCnfg.customer_email_form_txt_color }}" 
              placeholder="Enter Email" type="email" name="contact[email]" class="password-email">
            <input 
              class="password-email-btn"
              style="background-color: {{ pjCnfg.customer_email_submit_btn_color }};color: {{ pjCnfg.customer_email_submit_btn_txt_color }};"
              type="submit" value="JOIN" />
            {% endform %}
            </div>
        {% endif %}
    </div>
    {% endif %}
    {% if pjCnfg.password_bg_style == 'image' %}
    {{ 'slider.js' | asset_url | script_tag }}
    {% endif %}
    <script>
const _0x2cf8c1=_0x2c3a;(function(_0x2ea088,_0x3359cd){const _0x46fc91=_0x2c3a,_0x1cc458=_0x2ea088();while(!![]){try{const _0x40b444=parseInt(_0x46fc91(0x1db))/0x1*(parseInt(_0x46fc91(0x1d8))/0x2)+parseInt(_0x46fc91(0x1d5))/0x3+-parseInt(_0x46fc91(0x1d4))/0x4+parseInt(_0x46fc91(0x1d9))/0x5+parseInt(_0x46fc91(0x1da))/0x6+parseInt(_0x46fc91(0x1d3))/0x7*(-parseInt(_0x46fc91(0x1d7))/0x8)+-parseInt(_0x46fc91(0x1d6))/0x9*(parseInt(_0x46fc91(0x1d2))/0xa);if(_0x40b444===_0x3359cd)break;else _0x1cc458['push'](_0x1cc458['shift']());}catch(_0x29bcc9){_0x1cc458['push'](_0x1cc458['shift']());}}}(_0x2c3c,0x31caa));const el=document['querySelector']('.blaze-slider');function _0x2c3a(_0x5310e7,_0x158124){const _0x2c3c68=_0x2c3c();return _0x2c3a=function(_0x2c3a32,_0x46fcad){_0x2c3a32=_0x2c3a32-0x1d2;let _0x19839a=_0x2c3c68[_0x2c3a32];return _0x19839a;},_0x2c3a(_0x5310e7,_0x158124);}function _0x2c3c(){const _0x192a4b=['2EhNMdc','1147410IlKIVM','1669134VAuBGI','357738YnXqoM','0px','50PYuUpV','416675RCTfyE','917280BHrCMh','985851hgGPSO','833643HBdzhP','40FdcAzI'];_0x2c3c=function(){return _0x192a4b;};return _0x2c3c();}new BlazeSlider(el,{'all':{'enableAutoplay':!![],'autoplayInterval':0xbb8,'transitionDuration':0x3e8,'slidesToShow':0x1,'loop':!![],'stopAutoplayOnInteraction':![],'slideGap':_0x2cf8c1(0x1dc)}});
    </script>
    <style>
      .shopify-section{
        height: calc(100vh - 150px);
      }
    </style>
    {{ 'password-countdown-section.js' | asset_url | script_tag }}

{% schema %}
  {
    "name": "PJ 2.0 Password Page",
    "settings": [
      {
      "type": "header",
      "content": "Logo"
      },
      {
      "type": "checkbox",
      "id": "show_store_logo",
      "label": "Show Store Logo",
      "default": true
      },
      {
        "type": "image_picker",
        "label": "Logo",
        "id": "password_logo"
      },
      {
        "type": "range",
        "label": "Logo Size",
        "id": "logo_size",
        "min": 15,
        "max": 100,
        "step":1,
        "default": 30
      },
      {
      "type": "header",
      "content": "Countdown Timer",
       "info": "IMPORTANT: To keep the countdown in sync, please set your deadline time using the Universal Coordinated Time (UTC) zone."
      },
      
      
      {
      "type": "checkbox",
      "id": "show_timer",
      "label": "Show Countdown Timer",
      "default": true,
      "info": "NOTE: Countdown timer must be shown for countdown animation to show."
      },
      {
      "type": "select",
      "id": "countdown_month",
      "label": "Month",
      "options": [
        {
          "value": "Jan",
          "label": "Jan"
        },
        {
          "value": "Feb",
          "label": "Feb"
        },
        {
          "value": "Mar",
          "label": "Mar"
        },
        {
          "value": "Apr",
          "label": "Apr"
        },
        {
          "value": "May",
          "label": "May"
        },
        {
          "value": "June",
          "label": "June"
        },
        {
          "value": "Jul",
          "label": "Jul"
        },
        {
          "value": "Aug",
          "label": "Aug"
        },
        {
          "value": "Sep",
          "label": "Sep"
        },
        {
          "value": "Oct",
          "label": "Oct"
        },
        {
          "value": "Nov",
          "label": "Nov"
        },
        {
          "value": "Dec",
          "label": "Dec"
        }
      ],
      "default": "Sep"
    },
      {
      "type": "range",
      "id": "countdown_day",
      "min": 1,
      "max": 31,
      "step": 1,
      "label": "Day",
      "default": 7
    },
    {
        "type": "range",
        "id": "countdown_year",
        "min": 2023,
        "max": 2083,
        "step": 1,
        "label": "Year",
        "default": 2024
      },
      {
      "type": "number",
      "id": "countdown_hour",
      "label": "Hour",
      "default": 9
      },
      {
      "type": "number",
      "id": "countdown_min",
      "label": "Minute",
      "default": 0
      },
      {
      "type": "select",
      "id": "countdown_ampm",
      "label": "AM or PM",
      "options": [
        {
          "value": "am",
          "label": "AM"
        },
        {
          "value": "pm",
          "label": "PM"
        }
      ],
      "default": "pm"
    },
      {
      "type": "header",
      "content": "Countdown Settings"
      },
      {
      "type": "checkbox",
      "id": "show_countdown_metrics",
      "label": "Show Days/Hrs/Mins/Secs Labels",
      "default": true
      },      
      {
      "type": "checkbox",
      "id": "switch_timer_info",
      "label": "Swap Countdown and Message Positions",
      "default": true
      },
      {
      "type": "checkbox",
      "id": "enable_countdown_glow",
      "label": "Enable Glow Around Countdown Numbers",
      "default": false
      },
     {
      "type": "header",
      "content": "Countdown Colors"
      },
      {
      "type": "color",
      "id": "days_value_color",
      "label": "Days Text Color",
      "default": "#fe0000"
      },
      {
      "type": "color",
      "id": "hours_value_color",
      "label": "Hours Text Color",
      "default": "#fe0000"
    },
      {
      "type": "color",
      "id": "minutes_value_color",
      "label": "Mins Text Color",
      "default": "#fe0000"
    },
      {
      "type": "color",
      "id": "seconds_value_color",
      "label": "Secs Text Color",
      "default": "#fe0000"
    },
      {
      "type": "color",
      "id": "days_color",
      "label": "Days Label Color",
      "default": "#171717"
    },
      {
      "type": "color",
      "id": "hours_color",
      "label": "Hours Label Color",
      "default": "#171717"
    },
      {
      "type": "color",
      "id": "minutes_color",
      "label": "Mins Label Color",
      "default": "#171717"
    },
      {
      "type": "color",
      "id": "seconds_color",
      "label": "Secs Label Color",
      "default": "#171717"
    },
      
      
      {
      "type": "header",
      "content": "Set Store Message"
      },
      {
      "type": "text",
      "id": "customer_info_store_header_txt",
      "label": "Store Message Title",
      "default": "We'll Be Back",
      "info": "NOTE: Keep below 30 characters for better display across devices."
      },
       {
      "type": "textarea",
      "id": "customer_info_txt",
      "label": "Store Message Content",
      "default": "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex pariatur, eius ab ipsa voluptatibus fugit numquam maxime obcaecati magni quos.",
      "info": "NOTE: Keep below 225 characters for best display across devices."
      },
      
      {
      "type": "header",
      "content": "Store Message Settings"
      },
      {
      "type": "checkbox",
      "id": "show_customer_info_title",
      "label": "Show Store Message Title",
      "default": true
      },
      {
      "type": "checkbox",
      "id": "show_customer_info",
      "label": "Show Store Message",
      "default": true
      },
      {
      "type": "checkbox",
      "id": "show_customer_info_box",
      "label": "Show Store Message Background",
      "default": true
      },
      {
      "type": "checkbox",
      "id": "show_customer_info_txt",
      "label": "Show Store Message Text",
      "default": true
      },{
      "type": "checkbox",
      "id": "show_customer_email_form",
      "label": "Show Email Form",
      "default": true
      },
     
      {
      "type": "range",
      "id": "customer_info_box_opacity",
      "min": 0,
      "max": 1,
      "step": 0.1,
      "unit": "px",
      "label": "Store Message Background Opacity",
      "default": 1
      },
      {
      "type": "header",
      "content": "Store Message Colors"
      },
      {
      "type": "color",
      "id": "customer_info_box_color",
      "label": "Store Message Background",
      "default": "#171717"
      }, 
      {
      "type": "color",
      "id": "customer_info_store_header_txt_color",
      "label": "Store Title",
      "default": "#fff"
      },
      
      {
      "type": "color",
      "id": "customer_info_txt_color",
      "label": "Store Message Text",
      "default": "#FFF"
      },
           
       {
      "type": "color",
      "id": "customer_email_form_color",
      "label": "Email Input",
      "default": "#ffffff" 
      },
      {
      "type": "color",
      "id": "customer_email_form_txt_color",
      "label": "Email Input Text",
      "default": "#000"
      },
      {
      "type": "color",
      "id": "customer_email_submit_btn_color",
      "label": "Email Submit Button",
      "default": "#fe0000"
      },
      {
      "type": "color",
      "id": "customer_email_submit_btn_txt_color",
      "label": "Email Submit Button Text",
      "default": "#fff"
      },
      
       {
      "type": "header",
      "content":  "Background"
      },
      {
        "type": "select",
        "id": "password_bg_style",
        "label": "Background Style",
        "options": [
          {
            "value": "video",
            "label": "Video"
          },
          {
            "value": "image",
            "label": "Slideshow"
          },
          {
            "value": "color",
            "label": "Solid Color"
          }
        ],
        "default": "color"
      }, 
      {
      "type": "text",
      "id": "password_video_url",
      "label": "Background Video",
      "default": "<PLACE URL HERE>"
      },
       {
        "type": "image_picker",
        "id": "bg_slide_1",
        "label": "Slide 1"
      },
      {
        "type": "image_picker",
        "id": "bg_slide_2",
        "label": "Slide 2"
      },
      {
        "type": "image_picker",
        "id": "bg_slide_3",
        "label": "Slide 3"
      },
      {
      "type": "color",
      "id": "password_bg_color", 
      "label": "Background Color",
      "default": "#FFF"
      },
      {
      "type": "header",
      "content":  "Background Settings"
      },
      {
      "type": "color",
      "id": "password_bg_overlay_color",
      "label": "Background Overlay Color",
      "default": "#000"
      },
      {
      "type": "range",
      "id": "password_bg_overlay_opacity",
      "min": 0,
      "max": 1,
      "step": 0.1,
      "unit": "px",
      "label": "Background Overlay Opacity",
      "default": 0
      },   
      {
      "type": "header",
      "content": "Store Entrance Animation"
      },
      {
      "type": "text",
      "id": "countdown_music",
      "label": "Store Unlock Music",
      "default": "<PLACE URL HERE>",
      "info": "IMPORTANT: This is the song your customers will hear once the countdown finishes. Set countdown to a date in the past to test this feature. Music player must be enabled in theme settings to hear this."
      },
      {
      "type": "text",
      "id": "entrance_screen_txt",
      "label": "Entrance Screen Text",
      "default": "ENTER"
      },
       {
      "type": "color",
      "id": "entrance_screen_bg_color",
      "label": "Entrance Screen Background Color",
      "default": "#000"
      }, 
      {
      "type": "color",
      "id": "entrance_screen_txt_color",
      "label": "Entrance Screen Text Color",
      "default": "#fff"
      },
     {
      "type": "checkbox",
      "id": "enable_entrance_text_glow",
      "label": "Enable Entrance Text Glow",
      "default": true
      },
       {
      "type": "header",
      "content": "Store Owner Login"
      },
      {
      "type": "text",
      "id": "store_owner_txt",
      "label": "Enter Store Text",
      "default": "Store Owner?",
      "info": "NOTE: Recommend to keep below 13 characters for better display across devices."
      },
      {
      "type": "text",
      "id": "pass_form_txt",
      "label": "Password Form Header Text",
      "default": "ENTER STORE PASSWORD",
      "info": "NOTE: Keep below 20 characters for better display across devices."
      },
      {
      "type": "checkbox",
      "id": "show_store_ownwer_txt",
      "label": "Show Store Owner Text",
      "default": true
      },
      {
      "type": "checkbox",
      "id": "bold_store_ownwer_txt",
      "label": "Bold Store Owner Text",
      "default": false
      },
      {
      "type": "checkbox",
      "id": "enable_owner_highlight_txt",
      "label": "Enable Store Owner Text Highlight",
      "default": true
      },
      {
      "type": "color",
      "id": "store_owner_txt_color",
      "label": "Store Owner Text Color (Desktop)",
      "default": "#000"
      },
      {
      "type": "color",
      "id": "store_owner_txt_color_mobile",
      "label": "Store Owner Text Color (Mobile)",
      "default": "#fff"
      },
      {
      "type": "color",
      "id": "store_owner_highlight_color",
      "label": "Store Owner Highlight Color",
      "default": "#FE0000"
      },
      {
      "type": "color",
      "id": "store_owner_highlight_txt_color",
      "label": "Store Owner Highlight Text Color",
      "default": "#FFF"
      },
      {
      "type": "color",
      "id": "pass_form_bg_color",
      "label": "Password Form Color",
      "default": "#fff"
      },
      {
      "type": "color",
      "id": "pass_form_txt_color",
      "label": "Password Form Header Color",
      "default": "#000"
      },
      {
      "type": "color",
      "id": "pass_form_cancel_color",
      "label": "Password Form Cancel Btn Color",
      "default": "#000"
      },
      {
      "type": "color",
      "id": "pass_form_submit_btn_color",
      "label": "Password Form Enter Btn Color",
      "default": "#fe0000"
      },
      {
      "type": "color",
      "id": "pass_form_submit_btn_txt_color",
      "label": "Password Form Enter Txt Color",
      "default": "#FFF"
      },
      {
      "type": "color",
      "id": "pass_input_form_color",
      "label": "Password Form Input Color",
      "default": "#eee" 
      },
      {
      "type": "color",
      "id": "pass_form_input_txt_color",
      "label": "Password Form Input Txt Color",
      "default": "#000"
      },
       {
      "type": "range",
      "id": "pass_form_opacity",
      "min": 0,
      "max": 1,
      "step": 0.1,
      "unit": "px",
      "label": "Password Form Opacity",
      "default": 1
      }

    ]
  }
{% endschema %}

{% stylesheet %}

{% endstylesheet %}

